.register-formImage{
  background-image: url("../../../assets/images/propic.png");
  background-size: contain;
  width: 100%;

}
.register-formContainer{
  width: 40%;
  margin-top: 4%;
  margin: auto;
  margin-bottom: 3%;
  height: 60%;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(5px);
  background-color: rgba(250, 250, 250, 0.555);
  align-items: center;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
  padding: 4% 5%; 
  backdrop-filter: blur('10px');
}
input{
  color: #4b4b4b;
}
[type=file] {
  height: 0;
  overflow: hidden;
  width: 0;
}
.register-container{
  /* background-image: url(../../../assets/orange-background-6921377_1280.webp); */
  padding-top: 3%;
}
[type=file] + label {
  background: #f15d22;
  border: none;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: inherit;
  font-weight: 500; 
  outline: none; 
  z-index: 5;
  position: absolute;
  bottom: -20px; 
  right: 64px;
  transition: all 0.3s; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
}
[type=file] + label:hover {
  background-color: #d3460d;
}
.register-formFileinput {
    background-color: #ee6d9e;
    border-radius: 0;
    overflow: hidden;  
  }
.register-formFileinput span {
    display: inline-block;
    height: 100%;
    transition: all 0.3s;
    width: 100%;
  }
.register-formFileinput::before {
    color: #fff; 
    font-family: "Font Awesome 5 Free";
    font-size: 130%;
    height: 100%;
    left: 0;
    line-height: 2.6;
    position: absolute;
    top: -180%;
    transition: all 0.3s;
    width: 40%;
  }
 .register-formFileinput:hover {
    background-color: #ae144f;
  }  
  @media only screen and (max-width: 1038px) {
    .register-formContainer{
      width: 90%;
      margin-top: 4%;
      margin: auto;
      margin-bottom: 3%;
      height: 60%;
      display: flex;
      border-radius: 5px;
      flex-direction: column;
      justify-content: center;
      backdrop-filter: blur(5px);
      background-color: rgba(250, 250, 250, 0.555);
      align-items: center;
      box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
      padding: 4% 5%; 
      backdrop-filter: blur('10px');
    }
  }
