.cart-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 1%;
    box-shadow: 0 4px 30px rgba(43, 43, 43, 0.342);
    backdrop-filter: blur(12.7px);
    -webkit-backdrop-filter: blur(12.7px);
    border-radius: 5px;
}
.cart-leftContainer{
    width: 60%; 
    height: 80vh;
    overflow-y: scroll;
}
.cart-header{
    position: fixed;
    z-index: 6;
    padding: 10px;
    color: black;
    font-weight: 500;
    width: 59%;
    font-size: 40px;  
    background-color: #ffffffaf;
    backdrop-filter: blur(12.7px);
    -webkit-backdrop-filter: blur(12.7px);
    border-radius: 5px 0 0 0px;
}
.cart-cartList{
    padding-top: 10%;
    padding-bottom: 10%;
}
.cart-cartItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 10px 15px;
    box-shadow: 0 4px 30px rgba(141, 141, 141, 0.342);
    backdrop-filter: blur(12.7px);
    -webkit-backdrop-filter: blur(12.7px);
}
.cart-rightContainer{
    width: 40%;
    height: 80vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    overflow-y: scroll;
    border-radius: 0px 5px 5px 0px ;
    background-color: #f7bfb0;
}
.divider{
    margin-top: 10px;
    height: 2px;
    width: 100%;
    background-color: #e84218;
}
