.socialIcon {
    --g: 2px;     
    --b: 2px;   
    --c: #ffffff;
    
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 5%, var(--c) 0 30%;
    --_g1: repeating-linear-gradient(10deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
      var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
      var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer; 
    transition:all .3s ease-in-out;
    display: flex;
    border-radius: 5px;
    width: 50px;
    height: 80%;
    justify-content: center;
    margin-right: 10px;
    background-color: #ffffff;
  }

  .socialIconFont{
    font-size: 25px;
    color:#e84118;
  }

  
